* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #6502c1, #0177c1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  position: absolute;
  top: 0;
  left: 0;
}

.header-right {
  display: block;
  max-width: 150px;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
  color: #fff;
  text-align: right;
  text-decoration: none;
}

.container {
  max-width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

.row {
  width: 100%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.vertical-spacing {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}


/* Banner */
.banner {
  width: 100%;
  height: 100vh;
  background: url('./media/Main_BG.jpg') center center/cover;
  padding-top: calc(80px + 5vw);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero img:first-of-type {
  max-width: 50%;
}

.hero-title {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  margin: 0.5em 0 1em;
}

.price-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price-wrapper img:first-of-type {
  /* display: inline-block; */
  /* object-fit: contain; */
  max-width: 50%;
  max-height: 50%;
}

.price {
  max-width: 30%;
  max-height: 30%;
}

.eco2 {
  display: block;
  max-width: 60%;
  margin: 5vh auto;
}


/* Section - Why ECO? */
.title {
  font-size: 2rem;
  text-align: center;
  color: #0089cf;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.list {
  padding-left: 20px;
  line-height: 1.3em;
  color: #444;
}

.list li {
  margin-bottom: 0.6rem;
}

.full-img {
  max-width: 100%;
  margin-top: 1rem;
}

.caption {
  font-size: 0.7rem;
  line-height: 1.5;
  text-align: center;
  margin: 0.5em 0;
}


/* Questions */
.questions {
  background: #0066b3;
  text-align: center;
  color: #fff;
}

.questions .title {
  color: #fff;
  font-size: 1.6rem;
}

.questions p:first-of-type {
  font-size: 0.9rem;
}

.questions p:nth-of-type(2) {
  font-size: 1.3rem;
  font-weight: 400;
  color: #f60;
  margin: 0.7em 0 0.3em;
}


.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.email {
  width: 100%;
  text-align: center;
  padding: 5px;
}

.checkbox label {
  font-size: 0.5rem;
}

.btn {
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #FF9902;
  padding: 9px 15px;
}


/* Section - References */
.references {
  text-align: center;
  color: #444;
}

.references .title {
  font-size: 1.6rem;
  color: #444;
}

.references .title span {
  color: #000;
}


/* Footer */
.footer {
  background: #878787;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}


@media (min-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .header-right {    
    font-size: 1.5rem;
    max-width: 100%;
  }
  
  .container {
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    margin: 0 auto;
  }

  .vertical-spacing {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .list {
    margin: 0 auto;
  }

  .form-group {
    justify-content: center;
    width: 400px;
    margin: 1rem auto;
  }

  .email {
  }
}


@media (min-width: 1024px) {
  .header {
    padding: 0 30px;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }

  .vertical-spacing {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  .col-2 {
    width: 47.5%;
  }

  .banner {
    height: 700px;
    padding-top: 120px;
  }

  .hero > img:first-of-type {
    max-width: 100%;
  }

  .hero-title {
    font-size: 3rem;
  }

  .price-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .price-wrapper img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 30px;
  }

  .eco2 {
    max-width: 100%;
    margin: 0 auto;
  }


  .title {
    font-size: 3rem;
    margin-bottom: 1em;
  }

  .list li {
    font-size: 1.2rem;
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }

  .full-img {
    margin-top: 0;
  }

  .caption {
    font-size: 1rem;
  }


  .questions .title {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
  }

  .questions p:first-of-type {
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .questions p:nth-of-type(2) {
    font-size: 1.5rem;
  }



  .references .col-2 {
    margin: auto;
  }

  .references .title {
    font-size: 2rem;
  }

  .references p {
    width: 300px;
    font-size: 1.1rem;
    margin: 0 auto;
  }


  .footer {
    font-size: 0.7rem;
  }
}


@media(min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}